
.row.needs-index-top{"ng-controller"=>"FilterCtrl"}
  
  .col-md-3{:style=>"margin-top:-35px"}
    %h3
      Buscar necesidades por:
  .col-md-2
    %h3
      %span{:style=>"width: 100%"}
        %md-input-container.md-block{"flex-gt-sm" => ""}
          %label Nombre
          %input{"ng-model"=>"name","ng-keyup"=>"ReloadState($event)"}
  .col.md-3{:style=>"margin-top:-35px;"}
    %span{:style=>"width: 100%"}  
      %h3
        %md-select.category{"data-ng-change"=>"ReloadState($event)", "md-on-open" => "loadUsers()", "ng-model" => "user", :placeholder => "Categoría", :style => "margin-right: 20px;"}
          %md-option{"ng-value" => "user", "ng-repeat" => "user in users"} 
            {{user.name}}
  .col.md-3{:style=>"margin-top:-35px;"}
    %span{:style=>"width: 100%"}
      %h3
        %md-select.category{"md-on-open" => "loadModes()", "ng-model" => "mode", :placeholder => "Orden", :style => "margin-right: 20px;"}
          %md-option{"ng-value" => "mode", "ng-repeat" => "mode in modes"} 
            {{mode.name}}





.needs-index-middlev{"ng-controller" => "NeedCtrl"} 
  .text-center.pagination-centered{:style=>"background-color: white"}
    %div{"ui-view" => ""}
      


 
