.main-slider{:layout => "row", "layout-align" => "center center"} 
  .main-title
    .visible-xs.main-image.alterHeight
      =image_tag 'mobile.png'
    .row
      .col-md-12{:layout => "row", "layout-align" => "center center"}   
        %h1
          ¿Qué necesita Chile?
      .col-md-12{:layout => "row", "layout-align" => "center center"}   
        %md-button.md-raised.md-primary.landing-slider-buttons
          Opina
        %md-button.md-raised.md-primary.landing-slider-buttons
          Descubre
  %video#bgvid{:autoplay => "", :loop => "", :poster => ""}
    %source{:src => "#{image_url 'video.webm'}", :type => "video/webm"}
      %source{:src => "#{image_url 'video.mp4'}", :type => "video/mp4"}
.row
  #basic-waypoint.col-md-12.second-content
    %h2
      Necesidades más Urgentes
    %p
      Needy estará disponible muy pronto!

.row
  .col-md-12.third-content
    Probando angular
    {{test}}
    %md-button.md-raised.md-primary md-primary}

.row
  .col-md-12.fourth-content
    