.main-slider{:layout => "row"}
  %div{:flex => ""}
    %video#bgvid{:autoplay => "", :loop => "", :poster => "polina.jpg"}
      %source{:src => "https://jumpseller-videos.s3.amazonaws.com/WebM_background.webm", :type => "video/webm"}
        %source{:src => "https://az781005.vo.msecnd.net/asset-8712445d-1500-80c3-1e68-f1e4ecc7bd1c/V%C3%ADdeo%20background%20h.264.mp4", :type => "video/mp4"}


.row
  .col-md-12.second-content
    ASDASDASD!
    {{test}}
    %md-button.md-raised.md-primary md-primary}

.row
  .col-md-12.third-content
    ASDASDASD!
    {{test}}
    %md-button.md-raised.md-primary md-primary}

.row
  .col-md-12.fourth-content
    ASDASDASD!
    {{test}}
    %md-button.md-raised.md-primary md-primary}