.main-slider{:layout => "row", "layout-align" => "center center"} 
  .main-title
    .visible-xs.main-image.alterHeight
      =image_tag 'mobile.png'
    .row
      .col-md-12{:layout => "row", "layout-align" => "center center"}   
        %h1
          ¿Qué necesita Chile?
      .col-md-12{:layout => "row", "layout-align" => "center center"}   
        %md-button.md-raised.md-primary.landing-slider-buttons
          Opina
        %md-button.md-raised.md-primary.landing-slider-buttons
          Descubre
  %video#bgvid{:autoplay => "", :loop => "", :poster => ""}
    %source{:src => "#{image_url 'video.webm'}", :type => "video/webm"}
      %source{:src => "#{image_url 'video.mp4'}", :type => "video/mp4"}
.row
  #basic-waypoint.col-md-12.second-content
    .row{:layout => "row", "layout-align" => "center center"}  
      .col-md-9
        %h2
          Necesidades más Urgentes
        .row.resume-project
          .col-md-5.image-project
            =image_tag 'image_ejemplo1.jpeg'
          .col-md-7
            .row
              .col-md-12
                %h4.project-title
                  Se necesita eliminar la contaminación de Santiago
            .tags
              %span
                %i.fa.fa-map-marker
                Santiago
              %span
                %i.fa.fa-tag
                Salud    
            .row
              .col-md-12.project-content
                %p
                  Si no hacemos algo con esto, nos morimos todos!. Yo me estoy muriciendo ya ayy nooo jajaj salu2
                .pull-bottom
                  %span
                    %i.fa.fa-volume-up{:style =>"cursor: pointer"}
                    Hazte notar
                  %span
                    %i.fa.fa-volume-off{:style =>"cursor: pointer"}
                    No es tan importante

      .col-md-3.resume-project.hidden-xs
        %ul
          -@counter=1
          -@categories.each do |category|
            -if @counter==1
              %li.category-list.selected-category-list
                =category.name
            -else
              %li.category-list
                =category.name
            -@counter+=1

.row
  .col-md-12.third-content
    Probando angular
    {{test}}
    %md-button.md-raised.md-primary md-primary}

.row
  .col-md-12.fourth-content
    