.landing-slider-buttons
{
	padding-left: 10px;
    padding-right: 10px;
    background-color: #46b252 !important;
    width: 187px;
    font-weight: 800;
    font-size: 16px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    border-radius: 0px !important;
}