@import 'coloresw8';

body
{
	background-color: black;
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 
{
    font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
  }

.container-fluid h1
{
  background: none !important;
  color: $h1-color;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: .05em;
  margin-bottom: 20px;
}

.main-page-title
{
  color: white !important;
  position: absolute; 
  z-index:1;
}
.main-slider
{
	background-color: black;
	opacity: 0.95;
    z-index: -1;
    height: 650px;
    margin-top: -50px;

}

.second-content
{
	background-color: #e8f5e9 !important;
	height: 400px;
}

.third-content
{
  background-color: #fff !important;
  height: 400px;
}

.fourth-content
{
  background-color: #a4d8a7 !important;
  height: 400px;
}


.container-fluid {
  margin: 0 auto;
  width: 100%;
  padding: 0px !important;
}

.mainmenu
{
  margin-left: 20px;
}

video#bgvid { 
  	-webkit-filter: brightness(25%);
  	filter: grayscale(40%);
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}