

.navbar-nav > li > a 
{
  color: white !important;
}

.nav {
  a {
    &:focus {
      color: #f2f2f2;
      background: none no-repeat scroll 0 0 #455A64 !important;
    }
  }
  li.active {
    a {
      color: #f2f2f2;
      background: none no-repeat scroll 0 0 #90A4AE !important;    
    }
  }
}

// NavBar Separator
.nav > li > span{
  display: block;
  padding: 10px 15px;
  line-height: 25px;
}
.nav > li {
  a:hover {
    background: none no-repeat scroll 0 0 #2f7d37 !important;
  }
  .new-link:hover {
    background: none no-repeat scroll 0 0 #2f7d37 !important;
  }
}

// Active NavBar
.nav > li.active > a{
  text-decoration: none;
  //background: none no-repeat scroll 0 0 #B0BEC5;
}
.nav {
  .imgUser {
    margin: 0 5px 0 0;
    img {
      margin: 10px 0 0 0;
      width: 30px;
    }    
  }
  .btnsalir {
    display: block;
    margin: 0 30px 0 0;
    padding: 0 10px 0 30px;
    .new-link
    {
      color: #ffffff;
      //background-color: #546E7A;
      display: block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 6px 25px;
      font-size: 14px;
      line-height: 1.428571429;
      border-radius: 4px;
      margin: 8px 0;
    }
    a {
      color: #ffffff;
      //background-color: #546E7A;
      display: block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      padding: 6px 25px;
      font-size: 14px;
      line-height: 1.428571429;
      border-radius: 4px;
      margin: 8px 0;
    }
    a:hover {
      //background-color: #455A64 !important;
    }
  }
  .btnNombre {
    border-right: 1px solid #475B64;
  }
}
.navbar-header {
  float: none !important;
  position: fixed;
  padding: 10px !important;
  z-index: 1!important;
  width: 100%;
  font-weight: 600 !important;
  font-size: 12px !important;
  letter-spacing: 3px !important;
  text-transform: uppercase !important;
  font-family: 'proxima-nova', sans-serif !important;

  background: none no-repeat scroll 0 0 #607d8b;
  background-color: transparent;
  a {
    color: #ffffff;
  }
  .new-link{
    color: #ffffff;
  }
  a:hover {
    color: #f2f2f2;
  }
  .new-link:hover{
    color: #f2f2f2;
  }

}
.navbar-toggle {
  float: left !important;
}