.needs-index-top
{
    background-color: #f7fafa !important;
    height: 370px; 
    margin-top: 70px;
    border-style: solid;
    border-color: #d9d9de;
    border-width: 2px 0px 2px 0px;
    display: flex;
    align-items: center;
    padding: 10px;

    h1
    {
        color: black !important;
        font-weight: 200;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;
        vertical-align: middle;
    }
}

.needs-index-middle
{
    background-color: white !important;



}


.main-slider-need
{
    text-align: center !important;
    padding-top: 130px !important;
    padding-bottom: 40px;
    background-color: #e8f5e9 ;
    opacity: 0.99;
    z-index: -1;
    min-width: 300px;
    min-height: 800px;
    margin-top: -50px;

    h1
    {
        color: #003404 !important;
    }
    .main-image
    {
        -webkit-filter: brightness(35%);
        filter: grayscale(40%);
        top: -120px;
        position: fixed; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        display: block;
        max-width:100%;
        max-height:100%;
        z-index: -100;
        background-size: cover;
        overflow: hidden;
    }

    .main-title
    {
      position: relative;
      z-index: 10;
    }
    video#bgvid 
      { 
        -webkit-filter: brightness(35%);
        filter: grayscale(40%);
        top: 0px;
        position: absolute; 
        right: 0; 
        bottom: 0;
        width: 100%;
        //height: auto;
        z-index: -100;
        background-size: cover;
        overflow: hidden;
      }

}
