// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "coloresw8";

.background-session
{
   background-image: image-url('bandera.jpg');
   height: 100%;
   width: 100%;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.anchador
{
  width: 100%;
  height: 20px;
}



.form {
  .field {
    width: 100%;
    clear: both;
    margin: 0 0 10px 0;
    overflow: hidden;
  }
}

.field_with_errors{
  display: inline;
  input{
    border: 1px solid red; 
  }
}

.form-horizontal {
  .field.imgField {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    .icon {
      width: 50%;
      text-align: center;
      margin: auto;
      display: block;
      float: none;
      img {
        width: 50%;
        text-align: center;
      }
    }
  }
  .field{
    .icon{
      font-size: 20px;
      padding: 0px;
      text-align: center;
      width: 10%;
      float: left;
      i.fa.fa-user{
        .name-number{
          margin-right: 3px;
          vertical-align: top;
          font-size: 11px;
          float: right;
        }
      }
      img{
        width: 32px;
        margin-left: -5px;
      }
    }
    input, select, textarea{

      background-color: transparent !important;
    border-top-color: transparent !important;
    border: 0 !important;
      display: inline;
      width: 90%;
      &.btn {
        width: 100%;
        margin: 15px 0 0 0;
        color: #ffffff;
      }
    }
  }
  .form-control.file{
    border: none;
    box-shadow: none;
  }
}

.boton-input
{
        background-color: transparent !important;
    border-top-color: transparent !important;
    border: 0 !important;
    padding-right: 60px;
    margin-left: -10px;
    padding-left: 65px;
    width: 95%;
}


md-toolbar{
    background-color: #46B252 !important;
}

.login-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Brandon", Helvetica, Arial, sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    padding-left: 15px;
    color: #a9a9a9;
    cursor: pointer;
    font-size: 16px !important;
}


.login-enter
{
    margin-left: -15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Brandon", Helvetica, Arial, sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    padding-left: 15px;
    color: #7AB55C;
    font-size: 16px !important;
}


.login-text:hover
{
  color: white;
}

.login-text:hover
{
  color: white;
}


