#foot.new-footer
  .backbuildings
  .frontbuildings


%footer
  .footer_social
    .copy.col-sm-4.contFtr
    .other.col-sm-4.contFtr
      %h5
        Needy SpA ® 2016 - Todos los derechos reservados
    .social.col-sm-4.contFtr
      %ul
        %li.google
          %a{href: '#'}
        %li.facebook
          %a{href: '#'}
        %li.twitter
          %a{href: '#'}