%footer
  .footer_social
    .copy.col-sm-4.contFtr
    .other.col-sm-4.contFtr
      Path del sitio
    .social.col-sm-4.contFtr
      %ul
        %li.google
          %a{href: '#'}
        %li.facebook
          %a{href: '#'}
        %li.twitter
          %a{href: '#'}